# alle Dateien, die auf .o enden
*.o
# eine bestimmte Datei, z.B. ein Executable
#statistics
uebung01/login.txt
uebung01/helloworld
uebung01/test

uebung02/errors
uebung02/legalbutwrong

uebung03/collatz
uebung03/fibonacci
uebung03/polynomial

uebung04/power
uebung04/wurzel
uebung04/wurzel2

uebung05/number
uebung05/vector

uebung06/build
uebung06/build2
uebung06/test-build
uebung06/release-build
uebung06/normal
uebung06/uniform
uebung06/readvector
uebung06/A3/words
uebung06/A3/letters

uebung07/a1/test
uebung07/a2/build/


# Sicherungskopien, die auf ~ enden
*~
# das Unterverzeichnis build/ (von CMake)
#build/

